﻿@model MyFirstASPAPP.Models.Reservation

@section title { Réservation }

<h2>Faites une demande de révervation maintenant</h2>

@if(ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<form action="#" method="post">
    <input type="text" name="NomClient" value="@(Model?.NomClient)" />
    <p class="red">@Html.ValidationMessage("NomClient")</p>
    @*<p class="red">@Html.ValidationMessageFor(m => m.NomClient)</p>*@
    <input type="email" name="EmailClient" value="@(Model?.EmailClient)" />
    <p class="red">@Html.ValidationMessage("EmailClient")</p>
    <input type="number" name="NbPersonnes" value="@(Model?.NbPersonnes)" />
    <p class="red">@Html.ValidationMessage("NbPersonnes")</p>
    <input type="Date" name="Date" value="@(Model?.Date)" />
    <p class="red">@Html.ValidationMessage("Date")</p>
    <input type="time" name="Time" value="@(Model?.Time)" />
    <p class="red">@Html.ValidationMessage("Time")</p>
    <textarea name="Message">@(Model?.Message)</textarea>
    <p class="red">@Html.ValidationMessage("Message")</p>
    <button>Révervez</button>
</form>

