﻿@model MyFirstASPAPP.Models.Reservation
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MailReservationAdmin</title>
</head>
<body>
    <div>
        <h1>Demande de Réservation au nom de @Model.NomClient</h1>
        <p>Email: @Model.EmailClient</p>
        <p>Date: @Model.Date.ToShortDateString()</p>
        <p>Heure: @Model.Time.ToShortTimeString()</p>
    </div>
</body>
</html>
