﻿@model IEnumerable<MyFirstASPAPP.Models.Personne>

@section title { Liste des Personnes }

<h2>ViewWithList</h2>

<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Prenom
        </th>
        <th>
            Age
        </th>
    </tr>
@foreach (var item in Model) {
    
        <tr>
            <td>
                @*<a href="/Default/ViewWithModel/@item.Id">@item.LastName</a>*@
                @Html.ActionLink(item.LastName, "ViewWithModel", "Default", new { id = item.Id }, null)
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.Age
            </td>
        </tr>
}

</table>
