﻿
@model MyFirstASPAPP.Models.Biere
@section title { Créer une nouvelle Biere }
<h1>Créer une nouvelle Biere</h1>
<form action="#" method="post">
    <input type="text" name="Nom" placeholder="Nom de la biere" value="@(Model?.Nom)"/>
    <p class="red">@Html.ValidationMessage("Nom")</p>
    <input type="number" name="Prix" placeholder="Prix de la biere" value="@(Model?.Prix)"/>
    <p class="red">@Html.ValidationMessage("Prix")</p>
    <input type="text" name="Image" placeholder="Url de l'image" value="@(Model?.Image)"/>
    <p class="red">@Html.ValidationMessage("url")</p>
    <button>Save</button>
</form>

