﻿@model MyFirstASPAPP.Models.Biere
@section title{ Details de la bière @Model.Nom}


<h1>@Model.Nom</h1>
<img src="@Model.Image" style="height:300px;width:auto" />
@if (Model.Prix >= 3)
{
    <p class="red">Prix: @Model.Prix €</p>
}
else
{
    <p class="green">Prix: @Model.Prix €</p>
}
@*<p class="@(Model.Prix >=3 ? "red" : "green")">Prix: @Model.Prix €</p>*@
