﻿@model IEnumerable<MyFirstASPAPP.Models.Biere>
@section title { Listes de Bières }

    <p>Listes de Bières</p>
    <ul>
        @foreach(var item in Model)
        {
        <li>
            <a href="@Url.Action("Details","Biere", new { id=item.Id })">
                <img style="height:auto;width:100px" src="@item.Image"/>
            </a>
            @*@Html.ActionLink(item.Nom, ....)*@
        </li>
        }
    </ul>

