﻿<!DOCTYPE html>
<html>
<head>
    <meta name="charset" content="UTF-8" />
    <link rel="stylesheet" href="~/Content/Site.css"/>
    <link href="" rel="stylesheet" />
    <title>@RenderSection("title", false)</title>
</head>
<body>
    <header>Mon Header</header>
    <nav>Bientot ici une super Navbar</nav>
    <main>
        @RenderBody()
    </main>
    <footer>Mon Footer</footer>
</body>
</html>